@model Administration.Host.Models.Books.BindGenreToBookViewModel

@{
    ViewData["Title"] = "BindGenre";
}

<h1>BindGenre</h1>

<h4>Форма привязки жанров к книге - @Model.Name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="list-group">
            @foreach (var genre in Model.Genres)
            {
                <a href="https://localhost:7270/Book/BindedGenre?bookId=@Model.Id&genreId=@genre.Value" 
                class="list-group-item list-group-item-action active" aria-current="true">
                    @genre.Text
                </a>
            }

        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
